{% extends 'base.html' %}


{% block content %}

<div>
    hey this is about rather
</div>

<p>
    hey, this is on the 8th, lorem 
</p>
<section>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, perferendis facilis! Numquam, voluptatum voluptates id quod nihil, quam, ipsum sed quasi quaerat reprehenderit distinctio. Sequi illo placeat ea at laudantium!
    Maiores eaque voluptatem perspiciatis at perferendis repudiandae non dolorem! Repellendus, ad nihil sequi eos aut reiciendis ab blanditiis sunt consequatur odio iusto cum libero inventore maxime excepturi voluptatem quae quasi.
    Ipsam repudiandae quos, fugiat consequuntur quod qui eaque nulla amet? Illum non cumque laborum iste laudantium, accusamus explicabo velit voluptate numquam ad accusantium ab minus cum expedita ducimus nobis earum.
    Nihil quos voluptas provident, facere sed, laudantium doloribus aperiam, odit ipsa natus placeat? Quo doloremque aperiam asperiores eaque quos ea error totam quisquam obcaecati nulla, voluptatem veritatis, nam, deleniti perferendis?
    Non, nihil nisi! Cupiditate cumque incidunt aliquid voluptatem totam ea, maiores odit nisi fugiat, labore voluptates? Illo excepturi labore, quam magni ab maiores doloribus maxime eveniet error laudantium corrupti praesentium?
    Ad, ipsam provident at error quidem dolorum fuga iusto expedita voluptatum pariatur illo quam, in et illum! Dicta nulla nihil perspiciatis. Soluta sequi quia voluptatibus veniam minima magnam nulla deleniti.
    Odio possimus ut ad minus, accusamus voluptate aperiam. Natus laboriosam voluptate animi voluptatem harum tempora quis, praesentium quasi dolorum error facilis sit mollitia nesciunt molestias reprehenderit consectetur dolorem nam nemo.
    Ut recusandae saepe tempore rerum cumque, illum ex architecto nobis eum, ipsum reprehenderit similique vero eaque dolore necessitatibus qui quos. Repellendus itaque cum quasi velit aliquid? Quaerat voluptas nihil sed.
    Omnis tempore ducimus, harum et quo hic ipsum dolor blanditiis, quod voluptate delectus quibusdam, placeat commodi. Rem aliquid exercitationem, eius quas deserunt et eum aperiam laudantium, omnis porro quaerat fugit.
    Hic consequatur iste dolores. Neque numquam ab facere eligendi culpa! Nemo cumque at ratione corrupti nesciunt amet debitis possimus laudantium quis voluptate, enim deserunt voluptas fuga ab voluptatem consequatur cum!
    Ratione ex maxime saepe pariatur at quisquam debitis qui odio eaque necessitatibus quaerat eligendi voluptates, quae expedita nesciunt soluta obcaecati, inventore magni eum, quos iste! Culpa eos aperiam reiciendis corporis.
    Magni, nihil. Odio distinctio alias, temporibus consectetur laborum officia! Repudiandae, eum dolore. Placeat soluta consequatur harum nobis incidunt. In quae inventore laboriosam similique facilis porro adipisci incidunt quo atque obcaecati.
    Voluptatibus autem earum cupiditate sunt consectetur id, amet dolor blanditiis facere a culpa illo veniam sequi perspiciatis repellat odit at assumenda ullam, nisi incidunt mollitia? Explicabo et nostrum a ut!
    Sunt, illum? Tempore autem repellat impedit atque, cum vero laborum unde ipsam temporibus sapiente totam labore nostrum exercitationem assumenda vitae consectetur quia minus officia distinctio eligendi facilis maiores iste iusto.
    Dolorum in natus sunt deleniti quo placeat, quos veniam omnis distinctio nihil quod laborum. Unde quam placeat assumenda voluptates itaque dolor aliquam laudantium iure aliquid tempore a, ipsa, temporibus exercitationem!
    Nam fuga corporis vel quibusdam nulla tempora reiciendis natus quas omnis, cum doloribus aperiam sapiente perspiciatis delectus veniam mollitia dolorum illum! Quod maxime voluptates autem, laborum ut aliquam omnis qui.
    Corrupti neque minima id commodi fuga quod provident quasi, voluptas debitis quis consectetur reprehenderit eius est illo eligendi iure quaerat nemo. Sed sequi aut eius rem facilis sunt facere amet.
    Iure officia libero dignissimos a mollitia, optio eligendi ad perferendis officiis architecto quam consequatur voluptatibus nisi in doloremque quisquam facilis vitae, assumenda dolores illum! Corrupti doloremque repudiandae natus maiores dolorem.
    Asperiores illum quos, obcaecati delectus unde tenetur perspiciatis laborum magni natus inventore sint libero rerum, autem cum aspernatur sapiente quo atque officiis sequi nisi repudiandae. Accusamus suscipit doloremque eum enim.
    Vitae, impedit eos omnis quia ut quas atque alias? Officiis, dolorum nisi voluptates dolorem cumque et unde dicta. Perferendis consequatur dolorum esse eveniet ullam nisi sint in? Repudiandae, iusto soluta?
</section>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptas vero, rerum a laudantium dignissimos. Itaque iusto voluptatem quae nulla illum quibusdam maxime unde iure, fugit reprehenderit. Iusto, atque voluptatem.
</p>
{% endblock %}