{% extends 'base.html' %}


{% block content %}

<div>
    hey this is home
</div>
<div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero quas error recusandae corrupti voluptatum reprehenderit rem est minus necessitatibus voluptatem similique eligendi, laboriosam amet vel, officiis sapiente officia, nihil repellat!
    Deserunt reiciendis illum soluta! Iste eveniet assumenda quisquam consequatur nam, sint veritatis vitae. Eveniet asperiores obcaecati quae aliquam ullam, laboriosam possimus, nostrum nulla accusantium ducimus, perferendis consectetur maiores explicabo qui.
    Excepturi expedita at quo? Enim doloribus modi excepturi eos cum cumque voluptas dolor eligendi maxime ipsa blanditiis, fugiat consectetur recusandae neque ullam incidunt animi fuga officiis! Ratione ad odit hic!
    Deserunt autem neque laboriosam illo repellat accusamus totam doloremque vel libero, porro eaque ratione rem similique adipisci eligendi dolores ea odit earum repellendus consequatur nesciunt amet. Eligendi at perferendis ipsam.
    Quo maiores assumenda temporibus dignissimos saepe molestiae labore totam earum? Odio fuga quibusdam, at aperiam ipsa, eveniet laborum libero dolores ea adipisci harum sit! Omnis magnam suscipit enim distinctio ab?
    Delectus temporibus tempore voluptates nihil magni molestiae veniam rerum architecto. Id reprehenderit similique aliquid, recusandae eligendi adipisci repellat sapiente consequatur nobis voluptatibus tenetur cum excepturi nulla sed necessitatibus doloribus iure.
    Non nulla dicta corporis reprehenderit cum quam asperiores magni impedit unde dolorum, minus sapiente iusto recusandae ut magnam labore autem laudantium. Consequuntur, provident. Iste voluptates ipsum sint, nesciunt odit commodi?
    Explicabo corrupti commodi voluptas dignissimos ipsam porro inventore voluptates nesciunt accusamus officia quidem eos sed, placeat ex omnis est! Repellendus animi error blanditiis quas dolorem obcaecati in sapiente perferendis autem?
    Similique et laboriosam dolorum! Natus minima repellat sed a fugiat et consequuntur at, laborum enim magnam delectus tempore aut suscipit labore aliquid voluptas doloremque corrupti necessitatibus corporis voluptatum repudiandae. Cupiditate?
    Saepe enim laboriosam quos nulla error, similique sequi distinctio exercitationem iusto accusantium tempora vitae molestiae quo deserunt at beatae laudantium ex maxime nam culpa debitis eius voluptatibus! Accusantium, omnis incidunt!
</div>

{% endblock %}