{% extends 'base.html' %}


{% block content %}

<div>
    hey this is home
</div>
<div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur molestiae facere aliquam placeat! Asperiores placeat ut tempora ipsam modi, perspiciatis accusantium aliquam a molestiae ex dignissimos reiciendis voluptates quam! Molestias!
    Explicabo labore rem velit incidunt, molestiae fugit at ducimus ipsum quae, voluptate ullam sapiente, voluptatum quisquam! Praesentium totam aut maiores exercitationem numquam accusamus in, autem consectetur? Asperiores quasi esse atque.
    Iure magni, atque aperiam fugiat dolorum officia, aliquam hic quo cumque aut explicabo voluptatem unde! Ad, nisi, quam necessitatibus doloribus beatae recusandae fuga, perspiciatis voluptatibus blanditiis dolorem vero praesentium fugit.
    Facilis perspiciatis sed earum placeat commodi velit, repellendus et rem deserunt ullam nam, aliquam cumque quasi? Obcaecati mollitia odit eum at ut quae error similique, nobis ipsa sint magni quis?
    Voluptas libero cupiditate nihil id delectus nulla expedita itaque quo, fugiat explicabo quod excepturi, quae facere veritatis, asperiores quisquam molestiae labore repudiandae. Dolore vitae velit laudantium quis eaque alias est?
    Est maxime quaerat vitae libero, odio ullam ab quia quas dignissimos veritatis molestiae dicta dolorem neque doloremque minima cupiditate accusantium consectetur voluptatibus temporibus. Facilis, voluptate consectetur? Velit eum omnis deserunt!
    Doloremque repellat magni excepturi dicta quibusdam? Iste, quia? Magnam libero, ad ratione at molestiae non neque, perspiciatis impedit rerum debitis nobis? Corporis explicabo vero aliquid blanditiis, unde quod distinctio aspernatur.
    Nulla sint quae mollitia numquam aspernatur, perferendis totam maiores accusamus at nihil quaerat maxime enim ea ab libero porro quasi repellat ipsa? At, doloribus officia? Itaque vel soluta aut dolor?
    Blanditiis ab quia quis quod nostrum incidunt necessitatibus itaque dolore, labore rerum obcaecati ipsam perferendis aliquid cupiditate possimus quo, iusto laboriosam vitae! Earum fugiat dolore, veniam quasi laborum voluptatibus excepturi!
    Corrupti officia unde neque nam nesciunt tempora ea dolore ducimus reprehenderit aperiam, quos dolorem. Quam aliquid soluta ad sapiente voluptatibus, ullam suscipit aspernatur debitis, nihil atque error, accusamus dolorem corporis.
</div>

{% endblock %}